<div class="row">
    <h1 id="titulo">Experiencia Laboral</h1>
<div class="col-lg-1"></div>
    <div class="col-lg-11">
            <ul>
                <li>
                    <h1>Gimnasio LeClub</h1>  <h3>2021 - 2022</h3>
                </li>
                <p>Estuve en el puesto de recepcionista y instructor para ayudar a los chicos a saber como se hace cada ejercicio.</p>
            </ul>
            <ul>
                <li>
                    <h1>Moha Inc.</h1>  <h3>2022 - Actualidad</h3>
                </li>
                <p>Atencion al publico, orden y limpieza</p>
            </ul>
    </div>

</div>