<div class="row">
    <h1 id="titulo">Experiencia Laboral</h1>
<div class="col-lg-1"></div>
    <div class="col-lg-11">
            <ul>
                <li>
                    <h1>Primer trabajo</h1>  <h3>años</h3>
                </li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, cumque doloremque voluptatibus officia unde quia! Accusantium consequatur facere, provident excepturi laudantium molestias aut! Laudantium dolores neque natus hic error. A? </p>
            </ul>
            <ul>
                <li>
                    <h1>Segundo trabajo</h1>  <h3>años</h3>
                </li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, cumque doloremque voluptatibus officia unde quia! Accusantium consequatur facere, provident excepturi laudantium molestias aut! Laudantium dolores neque natus hic error. A? </p>
            </ul>
    </div>

</div>