#fotoperfil{
    border-radius: 100px;
    position: relative;
    bottom: 60px;
    left: 4px;
}
@media(max-width: 575px){
    #fotoperfil{
        border-radius: 100px;
        position: relative;
        bottom: 80px;
        left: 4px;  
        width: 200px;
    }
}

div{
    background-color: lightseagreen;
    text-align: center;
}



#nombre{
    font-weight: bold;
    position: relative;
    bottom: 50px;
}
@media(min-width: 576px){
    #sobremi{
        position: relative;
        left: 50px;
  } 
}