<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoPerfil.jpg" class="img-fluid" id="fotoperfil">
        <p id="nombre">Orlando Fornas</p>
        <p id="nombre">Full Stack Developer Jr</p>
    </div>
    
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1 id="sobremi">Acerca de mi..</h1>
            <p id="sobremi">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit itaque, sed quam, exercitationem incidunt molestias, est quaerat quis optio fugiat consequatur reiciendis consequuntur harum expedita deserunt! Eaque aperiam sit possimus!</p>
        </span>
    </div>
</div>