
<div class="row">
   <div></div>
      <div>
            <h1>Hard skills & Soft skills</h1>
      </div>
<div>
      <circle-progress class="col-sm-3 col-lg-3 "
             [title]="'HTML'"
             [showUnits]="false"
             [showSubtitle]="false"
             [percent]="85"
             [radius]="75"
             [outerStrokeWidth]="7"
             [innerStrokeWidth]="3"
             [outerStrokeColor]="'rgb(83, 150, 152)'"
             [innerStrokeColor]="'rgb(83, 150, 152)'"
             [animation]="true"
             [animationDuration]="600"
    ></circle-progress>
    <circle-progress class="col-sm-3 col-lg-3 "
             [title]="'CSS'"
             [showUnits]="false"
             [showSubtitle]="false"
             [percent]="85"
             [radius]="75"
             [outerStrokeWidth]="7"
             [innerStrokeWidth]="3"
             [outerStrokeColor]="'rgb(83, 150, 152)'"
             [innerStrokeColor]="'rgb(83, 150, 152)'"
             [animation]="true"
             [animationDuration]="600"
    ></circle-progress>
    <circle-progress class="col-sm-3 col-lg-3 "
             [title]="'JavaScript'"
             [showUnits]="false"
             [showSubtitle]="false"
             [percent]="85"
             [radius]="75"
             [outerStrokeWidth]="7"
             [innerStrokeWidth]="3"
             [outerStrokeColor]="'rgb(83, 150, 152)'"
             [innerStrokeColor]="'rgb(83, 150, 152)'"
             [animation]="true"
             [animationDuration]="600"
    ></circle-progress>
    <circle-progress class="col-sm-3 col-lg-3 "
             [title]="'...'"
             [showUnits]="false"
             [showSubtitle]="false"
             [percent]="85"
             [radius]="75"
             [outerStrokeWidth]="7"
             [innerStrokeWidth]="3"
             [outerStrokeColor]="'rgb(83, 150, 152)'"
             [innerStrokeColor]="'rgb(83, 150, 152)'"
             [animation]="true"
             [animationDuration]="600"
    ></circle-progress>
</div>
</div>