<div class="row">
    <h1>Mis proyectos</h1>

    <div >
        <h3>Mi portafolio</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae amet tempore accusantium fuga totam 
        debitis necessitatibus quasi accusamus qui unde excepturi quas expedita ad, numquam, omnis sit ab minus a.</p>
        <div>
            <h1>imagen</h1>
        </div>
    </div>

    <div >
        <h3>Otro proyecto</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique iure facere cumque, 
        autem provident tempore ex ab distinctio, quod eveniet saepe ad quaerat illo amet temporibus 
        voluptatem fugiat obcaecati doloribus?</p>
        <div>
            <h1>imagen</h1>
        </div>
    </div>

</div>